.navigation{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    right: 20px;
    background-color: rgba($color: #ffff, $alpha: 0.8);
    text-align: right;
    .hide{
        display: none;
    }
    .categories-menu, .filters-menu{
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        .categories-title, .filters-title{
        font-family: 'Playfair Display', serif;
        color: #000000;
        font-size: 24px;
        font-weight: 700;
        text-decoration: none;
        text-align: right;
        }
        .categories, .filters{
            width: 100%;
            list-style: none;
            .category, .filter{
                display: flex;
                align-items: center;
                width: 100%;
                font-family: 'Raleway', sans-serif;
                font-size: 18px;
                font-weight: 400;
                cursor: pointer;
                margin-top: 10px;

            } 
        }

    }
    
}
@media screen and (max-width: 768px) {
    .navigation{
        display: flex;
        top: 20px;
        right: 20px;
        .categories-menu{
            .categories-title{
                font-size: 16px;
            }
            .categories{
                .category{
                    justify-content: flex-end;
                    font-size: 16px;
                }
            }
        }

    }
}