.how-works{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
@media screen and (max-width: 768px) {
    .how-works{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
    }
   }