.top-navigation{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .logo-img{
        height: 100px;
        }
    .nav{
        display: flex;
        align-items: center;
        list-style: none;
        font-size: 18px;
        padding-right: 40px;
        li{
            padding: 20px;
        }
    }
}
@media screen and (max-width: 768px) {
    .top-navigation{
        padding: 10px 0 0 0;
        .logo-img{
            height: 50px
        }
    }
}