.top-navigation-page{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    position: sticky;
    top:0;
    background-color: #ffffff;
    .logo-img{
        height: 130px;
        }
    .menu{
        display: flex;
        align-items: center;
        list-style: none;
        font-size: 18px;
        li{
            padding: 20px;
                a{
                text-decoration: none;
                color: #000000
                }

                .start{
                    font-weight: 700;
                }

        }
    }
}