.activity-max{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 20px 50px;
    .title{
        font-family: 'Playfair Display', serif;
    }
    .activity{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        .left, .right{
            padding: 10px 0;
        }
        .left{
            width: 30%;
            .ingredients{
                display: flex;
                padding: 10px 0;
                .list{
                    h3{
                        font-weight: 400;
                    }
                    list-style: none;
                    font-family: 'Playfair Display', serif;
                    li{
                        padding: 10px 0;
                        font-family: 'Raleway', sans-serif;
                    }
                }
            }
        }
        .right{
            width: 70%;
            h2{
                font-family: 'Playfair Display', serif;
                font-weight: 400;
            }
            .description{
            padding: 10px 0;
            }
            .backToList-btn{
                text-align: right;
                background-color:#fe1a00;
                border-radius:6px;
                border:1px solid #d83526;
                cursor:pointer;
                color:#ffffff;
                font-size:15px;
                padding:6px 24px;
                text-decoration:none;
                text-shadow:0px 1px 0px #b23e35;
                font-family: 'Raleway', sans-serif;

                    &:hover {
                        background-color:#ce0100;
                    }
            }
        }   
    }
}
    
@media screen and (max-width: 768px) {
    .activity-max{
        flex-direction: column;
        .activity{
            flex-direction: column;
            .left, .right{
            width: 100%;
            padding: 0
            }
            .left .ingredients .list li{
                padding: 5px 0;
            }
        }
        
    }
   }